
  @font-face {
    font-family: Abel;
    src: url("fonts/Abel/Abel-Regular.ttf");
  }
  
  @font-face {
    font-family: Barlow;
    src: url("fonts/Barlow_Condensed/BarlowCondensed-Regular.ttf");
  }
  
  * {
    font-family: Abel;
  }
/*----------------------------------------------------------------------------Tablet Landscape*/

@media all and (max-width: 1400px) and (min-width: 1025px){ 

  body {
    margin: 0;
    background: #dedede;
    display: flex;
    align-items: center;
    height: 100vh;
    background-color: #22303a;
  }
  
  .gameboard {
    height: 100vw;
    width: 100vw;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 20vw;
    max-height: 65vh;
    max-width: 65vh;
    border: 5px solid #d2dcd2;
    box-shadow: 0px 0px 10px 3px #5f5f5f;
  }

  .containerPoints {

  }
  
  .color {
    width: 50%;
    height: 50%;
    display: inline-block;
  }
  
  .left {
    float: left;
  }
  
  .right {
    float: left;
  }
  
  .celeste {
    background: #00adb5;
  }
  
  .celeste.light {
    background: #6db2b5;
  }
  
  .violeta {
    background: #ff6363;
  }
  
  .violeta.light {
    background: #f99292;
  }
  
  .naranja {
    background: #fd7014;
  }
  
  .naranja.light {
    background: #fbac78;
  }
  
  .verde {
    background: #f6c90e;
  }
  
  .verde.light {
    background: #efd366;
  }
  
  .btn-start {
    width: 400px;
    height: 100px;
    background: #ecf0f1;
    color: #1a3d61;
    font-size: 3.5vw;
    position: absolute;
    top: 42vh;
    left: 21vw;
    box-shadow: 1px 1px 11px 1px black;
    font-family: Barlow;
    cursor: pointer;
  }
  
  .hide {
    display: none;
  }
  
  .swal-overlay {
    background-color: rgba(0, 0, 0, 0.69);
  }
  
  .swal-button {
    padding: 7px 19px;
    border-radius: 2px;
    background-color: #4962B3;
    font-size: 12px;
    border: 1px solid #3e549a;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
  }
  
  .swal-button:hover {
    background-color: #6c7eb9 !important;
  }
  
  .swal-text {
    font-size: 1.5vw;
    color: black;
  }
  
  .poinst{
    background-color: white;
    padding: 20px;
    border: 1px solid #828282;
    box-shadow: 0px 0px 3px 1px white;
    margin-bottom: 1vw;
  }
  
  .poinst:nth-child(2){box-shadow: 0px 0px 5px 0px #FF9800;}
  
  .nivel{
    color:black;
    font-size: 1.5vw;
  }
  
  #nivelActual{
    color: orange;
    font-weight: 600;
  }
  
  #nivelRecord{
    color: white;
    background: #FF9800;
    padding: 3px;
    border-radius: 10px;
  }
  
  footer{
    position: absolute;
    top: 91.5vh;
    background: #38434a;
    padding: 17px 0;
    width: 100%;
    border-top: 1px solid orange;
    box-shadow: 1px 1px 7px 1px #ffc967;
  }
  
  footer>span{
    margin-left: 42vw;
    color: white;
  }
  
  footer>span>a{
    color: wheat;
    text-decoration:none;
  }
  
  .enlaceInfo{
    color: white;
    cursor: pointer;
    margin-left: 1.7vw;
    text-shadow: 1px 1px 1px black;
    font-size: 1.5vw;
  }
  
  .enlaceInfo:hover{
    color: #FF9800;
    cursor: pointer;
  }
}

@media all and (max-width: 1024px) and (min-width: 769px){ 

  body {
    margin: 0;
    background: #dedede;
    display: flex;
    align-items: center;
    height: 100vh;
    background-color: #22303a;
  }
  
  .gameboard {
    height: 100vh;
    width: 100vh;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 20vw;
    max-height: 65vh;
    max-width: 65vh;
    border: 5px solid #d2dcd2;
    box-shadow: 0px 0px 10px 3px #5f5f5f;
  }

  .containerPoints {
    
position: absolute;
    
left: 79vw;
  }
  
  
  .color {
    width: 50%;
    height: 50%;
    display: inline-block;
  }
  
  .left {
    float: left;
  }
  
  .right {
    float: left;
  }
  
  .celeste {
    background: #00adb5;
  }
  
  .celeste.light {
    background: #6db2b5;
  }
  
  .violeta {
    background: #ff6363;
  }
  
  .violeta.light {
    background: #f99292;
  }
  
  .naranja {
    background: #fd7014;
  }
  
  .naranja.light {
    background: #fbac78;
  }
  
  .verde {
    background: #f6c90e;
  }
  
  .verde.light {
    background: #efd366;
  }
  
  .btn-start {
    width: 400px;
    height: 100px;
    background: #ecf0f1;
    color: #1a3d61;
    font-size: 4.5vw;
    position: absolute;
    top: 42vh;
    left: 22vw;
    box-shadow: 1px 1px 11px 1px black;
    font-family: Barlow;
    cursor: pointer;
  }
  
  .hide {
    display: none;
  }
  
  .swal-overlay {
    background-color: rgba(0, 0, 0, 0.69);
  }
  
  .swal-button {
    padding: 7px 19px;
    border-radius: 2px;
    background-color: #4962B3;
    font-size: 12px;
    border: 1px solid #3e549a;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
  }
  
  .swal-button:hover {
    background-color: #6c7eb9 !important;
  }
  
  .swal-text {
    font-size: 1.5vw;
    color: black;
  }
  
  .poinst{
    background-color: white;
    padding: 20px;
    border: 1px solid #828282;
    box-shadow: 0px 0px 3px 1px white;
    margin-bottom: 1vw;
  }
  
  .poinst:nth-child(2){box-shadow: 0px 0px 5px 0px #FF9800;}
  
  .nivel{
    color:black;
    font-size: 2vw;
  }
  
  #nivelActual{
    color: orange;
    font-weight: 600;
  }
  
  #nivelRecord{
    color: white;
    background: #FF9800;
    padding: 3px;
    border-radius: 10px;
  }
  
  footer{
    position: absolute;
    top: 91.5vh;
    background: #38434a;
    padding: 17px 0;
    width: 100%;
    border-top: 1px solid orange;
    box-shadow: 1px 1px 7px 1px #ffc967;
  }
  
  footer>span{
    margin-left: 42vw;
    color: white;
  }
  
  footer>span>a{
    color: wheat;
    text-decoration:none;
  }
  
  .enlaceInfo{
    color: white;
    cursor: pointer;
    margin-left: 1.7vw;
    text-shadow: 1px 1px 1px black;
    font-size: 2.5vw;
  }
  
  .enlaceInfo:hover{
    color: #FF9800;
    cursor: pointer;
  }

}

/*------------------------------------------------------------------------------Tablet Portrait*/
    
@media all and (max-width: 768px) and (min-width: 600px){ 

  body {
    margin: 0;
    background: #dedede;
    display: flex;
    align-items: center;
    height: 100vh;
    background-color: #22303a;
  }
  
  .gameboard {
    height: 100vh;
    width: 100vh;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 15vw;
    max-height: 65vh;
    max-width: 65vh;
    border: 5px solid #d2dcd2;
    box-shadow: 0px 0px 10px 3px #5f5f5f;
  }
  
  .containerPoints {
    
  position: absolute; 
  top: 3vh;  
  left: 77vw;
  }
  
  .color {
    width: 50%;
    height: 50%;
    display: inline-block;
  }
  
  .left {
    float: left;
  }
  
  .right {
    float: left;
  }
  
  .celeste {
    background: #00adb5;
  }
  
  .celeste.light {
    background: #6db2b5;
  }
  
  .violeta {
    background: #ff6363;
  }
  
  .violeta.light {
    background: #f99292;
  }
  
  .naranja {
    background: #fd7014;
  }
  
  .naranja.light {
    background: #fbac78;
  }
  
  .verde {
    background: #f6c90e;
  }
  
  .verde.light {
    background: #efd366;
  }
  
  .btn-start {
    width: 61vh;
    height: 14vh;
    background: #ecf0f1;
    color: #1a3d61;
    font-size: 3.5vw;
    position: absolute;
    top: 42vh;
    left: 17vw;
    box-shadow: 1px 1px 11px 1px black;
    font-family: Barlow;
    cursor: pointer;
  }
  
  .hide {
    display: none;
  }
  
  .swal-overlay {
    background-color: rgba(0, 0, 0, 0.69);
  }
  
  .swal-button {
    padding: 7px 19px;
    border-radius: 2px;
    background-color: #4962B3;
    font-size: 12px;
    border: 1px solid #3e549a;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
  }
  
  .swal-button:hover {
    background-color: #6c7eb9 !important;
  }
  
  .swal-text {
    font-size: 1.5vw;
    color: black;
  }
  
  .poinst{
    background-color: white;
    padding: 20px;
    border: 1px solid #828282;
    box-shadow: 0px 0px 3px 1px white;
    margin-bottom: 1vw;
  }
  
  .poinst:nth-child(2){box-shadow: 0px 0px 5px 0px #FF9800;}
  
  .nivel{
    color:black;
    font-size: 2vw;
  }
  
  #nivelActual{
    color: orange;
    font-weight: 600;
  }
  
  #nivelRecord{
    color: white;
    background: #FF9800;
    padding: 3px;
    border-radius: 10px;
  }
  
  footer{
    position: absolute;
    top: 91.5vh;
    background: #38434a;
    padding: 17px 0;
    width: 100%;
    border-top: 1px solid orange;
    box-shadow: 1px 1px 7px 1px #ffc967;
  }
  
  footer>span{
    margin-left: 42vw;
    color: white;
  }
  
  footer>span>a{
    color: wheat;
    text-decoration:none;
  }
  
  .enlaceInfo{
    color: white;
    cursor: pointer;
    margin-left: 2.5vw;
    text-shadow: 1px 1px 1px black;
    font-size: 2vw;
  }
  
  .enlaceInfo:hover{
    color: #FF9800;
    cursor: pointer;
  }

}

/*-------------------------------------------------------------------------------Movil Portrait*/
    
@media (max-width: 599px){ 

  body {
    margin: 0;
    background: #dedede;
    display: flex;
    align-items: center;
    height: 100vh;
    background-color: #22303a;
  }
  
  .gameboard {
    height: 100vh;
    width: 100vh;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    max-height: 65vh;
    max-width: 65vh;
    border: 5px solid #d2dcd2;
    box-shadow: 0px 0px 10px 3px #5f5f5f;
    margin-top: 7vh;
  }
  
  .containerPoints {
    
position: absolute;
    
top: 5vh;
    
left: 7vw;
    
display: flex;
  }
  
  .color {
    width: 50%;
    height: 50%;
    display: inline-block;
  }
  
  .left {
    float: left;
  }
  
  .right {
    float: left;
  }
  
  .celeste {
    background: #00adb5;
  }
  
  .celeste.light {
    background: #6db2b5;
  }
  
  .violeta {
    background: #ff6363;
  }
  
  .violeta.light {
    background: #f99292;
  }
  
  .naranja {
    background: #fd7014;
  }
  
  .naranja.light {
    background: #fbac78;
  }
  
  .verde {
    background: #f6c90e;
  }
  
  .verde.light {
    background: #efd366;
  }
  
  .btn-start {
    width: 71vw;
    height: 14vh;
    background: #ecf0f1;
    color: #1a3d61;
    font-size: 6.5vw;
    position: absolute;
    top: 47vh;
    left: 13vw;
    box-shadow: 1px 1px 11px 1px black;
    font-family: Barlow;
    cursor: pointer;
  }
  
  .hide {
    display: none;
  }
  
  .swal-overlay {
    background-color: rgba(0, 0, 0, 0.69);
  }
  
  .swal-button {
    padding: 7px 19px;
    border-radius: 2px;
    background-color: #4962B3;
    font-size: 12px;
    border: 1px solid #3e549a;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
  }
  
  .swal-button:hover {
    background-color: #6c7eb9 !important;
  }
  
  .swal-text {
    font-size: 1.5vw;
    color: black;
  }
  
  .poinst{
    background-color: white;
    padding: 17px;
    border: 1px solid #828282;
    box-shadow: 0px 0px 3px 1px white;
    margin-left: 2vw;
  }
  
  .poinst:nth-child(2){box-shadow: 0px 0px 5px 0px #FF9800;}
  
  .nivel{
    color:black;
    font-size: 3vh;
  }
  
  #nivelActual{
    color: orange;
    font-weight: 600;
  }
  
  #nivelRecord{
    color: white;
    background: #FF9800;
    padding: 3px;
    border-radius: 10px;
  }
  
  footer{
    position: absolute;
    top: 91.4vh;
    background: #38434a;
    padding: 17px 0;
    width: 100%;
    border-top: 1px solid orange;
    box-shadow: 1px 1px 7px 1px #ffc967;
  }
  
  footer>span{
    margin-left: 30vw;
    color: white;
  }
  
  footer>span>a{
    color: wheat;
    text-decoration:none;
  }
  
  .enlaceInfo{
    color: white;
    cursor: pointer;
    margin-left: 3.5vw;
    margin-top: 3vw;
    text-shadow: 1px 1px 1px black;
    font-size: 3.5vw;
  }
  
  .enlaceInfo:hover{
    color: #FF9800;
    cursor: pointer;
  }

}