
@font-face {
  font-family: Abel;
  src: url("fonts/Abel/Abel-Regular.ttf");
}

@font-face {
  font-family: Barlow;
  src: url("fonts/Barlow_Condensed/BarlowCondensed-Regular.ttf");
}

* {
  font-family: Abel;
}

body {
  margin: 0;
  background: #dedede;
  display: flex;
  align-items: center;
  height: 100vh;
  background-color: #0b2239;
}

.audio {
  display: none;
}

.gameboard {
  height: 100vh;
  width: 100vh;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 20vw;
  max-height: 65vh;
  max-width: 65vh;
  border: 3px solid #d2dcd2;
  box-shadow: 0px 0px 9px 1px #00bcd459;
}

.containerPoints {
  position: absolute;
  left: 79vw;
}


.color {
  width: 50%;
  height: 50%;
  display: inline-block;
}

.left {
  float: left;
}

.right {
  float: left;
}

.celeste {
  background: #00c3f0;
}

.celeste.light {
  background: #ffffff;
}

.violeta {
  background: #ff5249;
}

.violeta.light {
  background: #ffffff;
}

.naranja {
  background: #f07d00;
}

.naranja.light {
  background: #ffffff;
}

.verde {
  background: #ebba16;
}

.verde.light {
  background: #ffffff;
}

.btn-start {
  width: 59vh;
  height: 100px;
  background: #ecf0f1;
  color: #1a3d61;
  font-size: 3vw;
  position: absolute;
  top: 42vh;
  left: 22vw;
  box-shadow: 1px 1px 11px 1px black;
  font-family: Barlow;
  cursor: pointer;
}

.hide {
  display: none;
}

.swal-overlay {
  background-color: rgba(0, 0, 0, 0.69);
}

.swal-button {
  padding: 7px 19px;
  border-radius: 2px;
  background-color: #4962B3;
  font-size: 12px;
  border: 1px solid #3e549a;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
}

.swal-button:hover {
  background-color: #6c7eb9 !important;
}

.swal-text {
  font-size: 3.5vh;
  color: black;
}

.swal-title{
  color: black;
}

.poinst{
  background-color: white;
  padding: 20px;
  border: 1px solid #828282;
  box-shadow: 0px 0px 3px 1px white;
  margin-bottom: 1vw;
}

.poinst:nth-child(2){box-shadow: 0px 0px 5px 0px #FF9800;}

.nivel{
  color:black;
  font-size: 1.5vw;
}

#nivelActual{
  color: orange;
  font-weight: 600;
}

#nivelRecord{
  color: white;
  background: #FF9800;
  padding: 3px;
  border-radius: 10px;
}

footer{
  position: absolute;
  top: 91.5vh;
  background: #151f29;
  padding: 17px 0;
  width: 100%;
  border-top: 1px solid orange;
  box-shadow: 1px 1px 1px 1px #ffc967;
}

footer>span{
  margin-left: 42vw;
  color: white;
}

footer>span>a{
  color: #FF9800;
  text-decoration:none;
}

.enlaceInfo{
  color: white;
  cursor: pointer;
  margin-left: 1.7vw;
  text-shadow: 1px 1px 1px black;
  font-size: 1.5vw;
}

.enlaceInfo:hover{
  color: #FF9800;
  cursor: pointer;
}

.meteoro{
  position: absolute;
  top: 3vh;
  left: 76vw;
  z-index: -1;
}

.estrella1{
  position: absolute;
  top: 5vh;
  left: 28vw;
  z-index: -1;
}

.estrella2{
  position: absolute;
  top: 30vh;
  left: 6vw;
  z-index: -1;
}

.estrella3{
  position: absolute;
  top: 6vh;
  left: 60vw;
  z-index: -1;
}

.estrella4{
  position: absolute;
  top: 68vh;
  left: 4vw;
  z-index: -1;
}

.estrella5{
  position: absolute;
  top: 80vh;
  left: 60vw;
  z-index: -1;
}

.estrella6{
  position: absolute;
  top: 29vh;
  left: 55vw;
  z-index: -1;
}

.estrella7{
  position: absolute;
  top: 24vw;
  left: 141vh;
  z-index: -1;
}
